/* styles for main app */

:root{
  --primary: #545161;
  --secondary: #f8cbdc;
  --tertiary: #ffffff;
}

body {
  background-color: #ad9cad;
}

div.homepage-jumbotron.jumbotron {
  padding-top: 100px;
  padding-bottom: 457px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-image: url(https://cdn.discordapp.com/attachments/727729652134707201/727819137316814887/image0.jpg)
}

.homebutton {
  margin-top: 8px;
  text-align: center;
  background: #89859c;
  border: 0px;
  font-style: italic;
}

/* styles for header/navbar */

.navbar-dark {
  background-color: var(--primary);
}

a { 
  font-family: Helvetica;
  font-style: italic;
  color: var(--tertiary);
  
}

li.nav-item {
  color: var(--tertiary);
}

div.col-12.col-sm-6 {
  padding-left: 0px;
  padding-right: 70px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Helvetica;
  font-style: italic;
  color: var(--tertiary);
}


/* styles for header/jumbotron */

.row-header {
  margin: 0px auto;
  padding-bottom: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.containerhead {
  letter-spacing: 1.5px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}

.containertext {
  text-align: right;
  font-family: Helvetica;
  font-style: italic;
  letter-spacing: 1.5px;
}

.jumbotron {
  text-align: justify;
  padding: 10px 0px 200px 0px;
  margin: 0px auto;
  background-color: #ad9cad;
  font-style: italic;
  font-family: Helvetica;
  color: floralwhite;
  text-shadow: 0.5px 0.5px 5px rgb(245, 142, 221);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 32%;
  background-image: url(https://media.discordapp.net/attachments/737753359611854887/745443180811386944/mob.png?width=1075&height=605);
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, var(--primary), var(--tertiary), var(--primary));
}


/* styles for login modal */

div.modal-header {
  background: var(--primary);
  font-family: Helvetica;
  font-style: italic;
  font-weight: bolder;
  color: white;
  border: 0px;
}

h5.modal-title {
  color: var(--tertiary);
  font-size: 20px;
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.modal-body {
  background-color: #ad9cad;
  color: white;
  max-width: 1280px;
}

div.modal-footer {
  background: var(--primary);
  border: 0px;
}

span.accept.navbar-text {
  text-align: right;
}

button.close {
  color: white;
}

button.close:hover {
  color: white;
}

button.btn.btn-primary {
  text-align: center;
  background: #89859c;
}

button.btn.btn-primary:hover {
  text-align: center;
  background: #8675a3;
}

a.steam-login-button.btn.btn-secondary {
  text-align: center;
  background: #89859c;
  border: 0px;
}

a.steam-login-button.btn.btn-secondary:hover {
  background: #8675a3;
  color: white;
}

button.btn.btn-secondary {
  text-align: center;
  background: #89859c;
  border: 0px;
}

button.btn.btn-secondary:hover {
  background: #8675a3;
  color: white;
}

button.btn.btn-primary {
  text-align: center;
  background: #89859c;
  border: 0px;
  font-style: italic;
}

button.btn.btn-primary:hover {
  background: #8675a3;
  color: white;
}


/* styles for table */

th.head {
  border-top: 0px;
  padding-left: 0px;
}

.table thead th{
  border-bottom: 1px solid var(--tertiary);
}

.head {
  color: var(--tertiary);
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

th.user {
  margin: 0px auto;
  padding: 30px 0px 30px 0px;
  border-right: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
  border-bottom: 1px solid var(--tertiary);
  text-align: center;
}

button.btn.btn-secondary {
  border-color: var(--tertiary);
  font-style: italic;
  font-family: Helvetica;
}

button.btn.btn-secondary:hover {
  border-color: var(--tertiary);

}

button.btn.btn-secondary:active {
  background-color: var(--secondary);
  box-shadow: 0 0 0 0.2rem var(--secondary);
}

table.table.table-hover {
  margin-bottom: 0px;
}
table {
  table-layout: fixed;
  width: 70%;
}

/* styles for main form */

label {
  color: var(--tertiary);
  font-size: 25px;
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.row.row-buttons {
  padding-bottom: 40px;
}
div.col.vote {
  padding: 10px 10px 0px 10px;
  text-align: left;
  vertical-align: auto;
}

div.col.shuffle {
  padding: 10px 10px 0px 10px;
  text-align: right;
  vertical-align: auto;
}

button.btn.btn-shuffle.btn-secondary {
  text-align: center;
  background: #89859c;
  margin: 3px auto;
  border: 0px;
}

button.btn.btn-shuffle.btn-secondary:hover {
  background: #545161;
  color: white;
}

button.btn.btn-launch.btn-secondary {
  text-align: center;
  background: #89859c;
  margin: 3px auto;
  border: 0px;
}

button.btn.btn-launch.btn-secondary:hover {
  background: #545161;
  color: white;
}

/* styles for mapvote modal */
h5.modal-title {
  padding-left: 15px;
}

.error-alert {
  color: var(--tertiary);
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
}

button.button-cancel-vote.btn.btn-secondary {
  background-color: #f8d7da;
}

.modal-vote-text {
  color: var(--tertiary);
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
}

.modal-body {
  flex: 0 0;
}

.modal-content {
  flex: 0 0;
}

button.btn.btn-primary:hover {
  background: #545161;
  color: white;
} 

button.btn.btn-primary:active {
  background: var(--primary);
}

/* styles for mapvote cards */


div.card {
  background: var(--primary);
  border-top: 0px;
  margin: 3px;
}

div.col-4.map-vote {
  padding: 0px;
}
div.card-body {
  align-items: stretch;
  padding-bottom: 10px;
  padding-top: 0px;
}

img.card-img-top {
  height: max-content;
}

div.card-header {
  color: var(--tertiary);
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}



.button-vote.btn-block.btn.btn-secondary.btn-sm {
  border-color: var(--tertiary);
  
}


.button-vote.btn-block.btn.btn-secondary.btn-sm:focus {
  background-color: var(--secondary);
  background: var(--secondary);
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);
  text-shadow: 0.5px 0.5px 5px rgb(255, 243, 243);
}

button.button-cancel-vote.btn.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}


/* styles for footer */

.footer {
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: Helvetica;
  font-weight: normal;
  margin-top: 0px;
  padding: 20px 0px 20px 0px;
  text-shadow: 0.5px 0.5px 2px lightgrey;
}

a.footerh5 {
  color: white;
  letter-spacing: 1.5px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: lighter;
}

a.btn.btn-social-icon.btn-twitter {
  background: #89859c;
}

a.btn.btn-social-icon.btn-google {
  background: #89859c;
}
