/* styles for main app */

:root{
  --primary: #545161;
  --secondary: #f8cbdc;
  --tertiary: #ffffff;
}

body {
  background-color: #ad9cad;
}


/* styles for header/navbar */

.navbar-dark {
  background-color: var(--primary);
}

li.nav-item {
  color: var(--tertiary);
}

div.col-12.col-sm-6 {
  padding-left: 0px;
  padding-right: 70px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Helvetica;
  font-style: italic;
  color: var(--tertiary);
}


/* styles for header/jumbotron */

.row-header {
  margin: 0px auto;
  padding-bottom: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.containerhead {
  letter-spacing: 1.5px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}

.containertext {
  text-align: right;
  font-family: Helvetica;
  font-style: italic;
  letter-spacing: 1.5px;
}

.jumbotron {
  text-align: justify;
  padding: 10px 0px 200px 0px;
  margin: 0px auto;
  background: var(--secondary);
  color: floralwhite;
  text-shadow: 0.5px 0.5px 5px rgb(245, 142, 221);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 32%;
  background-image: url(https://media.discordapp.net/attachments/737753359611854887/745443180811386944/mob.png?width=1075&height=605);
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, var(--primary), var(--tertiary), var(--primary));
}


/* styles for login modal */

div.modal-header {
  background: var(--primary);
  font-family: Helvetica;
  font-style: italic;
  font-weight: bolder;
  color: white;
  border: 0px;
}

h5.modal-title {
  color: var(--tertiary);
  font-size: 20px;
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.modal-body {
  background-color: #ad9cad;
  color: white;
}

div.modal-footer {
  background: var(--primary);
  border: 0px;
}

span.accept.navbar-text {
  text-align: right;
}

button.close {
  color: white;
}

button.close:hover {
  color: white;
}

button.btn.btn-secondary {
  text-align: center;
  background: #89859c;
  border: 0px;
}

button.btn.btn-secondary:hover {
  background: #75717c;
  color: white;
}

button.btn.btn-primary {
  text-align: center;
  background: #89859c;
  border: 0px;
}

button.btn.btn-primary:hover {
  background: #75717c;
  color: white;
}


/* styles for table */

th.head {
  border-top: 0px;
  padding-left: 0px;
}

.table thead th{
  border-bottom: 1px solid var(--tertiary);
}

.head {
  color: var(--tertiary);
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

th.user {
  margin: 0px auto;
  padding: 30px 0px 30px 0px;
  border-right: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
  border-bottom: 1px solid var(--tertiary);
  text-align: center;
}

button.btn.btn-secondary {
  font-style: italic;
  font-family: Helvetica;
}

table.table.table-hover {
  margin-bottom: 0px;
}


/* styles for main form */

label {
  color: var(--tertiary);
  font-size: 25px;
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.col.shuffle {
  padding: 10px 10px 0px 10px;
  text-align: right;
  vertical-align: auto;
}

button.btn.btn-shuffle.btn-secondary {
  text-align: center;
  background: #89859c;
  margin: 3px auto;
  border: 0px;
}

button.btn.btn-shuffle.btn-secondary:hover {
  background: #75717c;
  color: white;
}

button.btn.btn-launch.btn-secondary {
  text-align: center;
  background: #89859c;
  margin: 3px auto;
  border: 0px;
}

button.btn.btn-launch.btn-secondary:hover {
  background: #75717c;
  color: white;
}
/* styles for mapvote modal */
h5.modal-title {
  padding-left: 15px;
}

.modal-vote-text {
  color: var(--tertiary);
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
}

/* styles for mapvote cards */

div.card {
  background: var(--primary);
  border-top: 0px;
}

div.card-body {
  align-items: stretch;
  padding: 10px;
}

img.card-img-top {
  height: max-content;
}

div.card-header {
  color: var(--tertiary);
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  font-family: Helvetica;
  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}
.button-active {
  background: #ad9cad;
  
}

.button-vote {
  border-color: var(--tertiary);
  color: var(--tertiary);
  align-self: stretch;
}


.button-vote:hover {
  color: var(--tertiary);
  background: #ad9cad;
}

/* styles for footer */

.footer {
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: Helvetica;
  font-weight: normal;
  margin-top: 100px;
  padding: 20px 0px 20px 0px;
  text-shadow: 0.5px 0.5px 2px lightgrey;
}

.footerh5 {
  letter-spacing: 1.5px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: lighter;
}

a.btn.btn-social-icon.btn-twitter {
  background: #89859c;
}

a.btn.btn-social-icon.btn-google {
  background: #89859c;
}