/* styles for main app */

:root{
  --primary: #545161;
  --secondary: #f8cbdc;
  --tertiary: #ffffff;
}

body {
  background-color: #ad9cad;
  padding-right: 0px !important;
  font-family: 'HelveticaWorld';
}


div.homepage-jumbotron.jumbotron {
  padding-top: 100px;
  padding-bottom: 457px;
  background-size: cover;

  background-repeat: no-repeat;
  background-position-y: 50%;
  background-image: url(https://media.discordapp.net/attachments/737753359611854887/745443180811386944/mob.png?width=1075&height=605);
}

button.homebutton.btn.btn-secondary {
  margin-top: 8px;
  text-align: center;
  background-color: var(--primary);
  border: 0px;
  font-style: italic;
}

/* styles for header/navbar */

.navbar-dark {
  background-color: var(--primary);
}

h4.username.media-heading {
  margin-bottom: 16px;
}

ul.accept.nav {
  padding: 6px;
}
img.header-img {
  width: 40px;
  margin-right: 5px;
  outline: 1px solid var(--tertiary);  
}

a { 
 
  font-style: italic;
  color: var(--tertiary);
  
}

li.nav-item {
  color: var(--tertiary);
}

div.col-12.col-sm-6 {
  padding-left: 0px;
  padding-right: 70px;
}

.navbar-dark .navbar-nav .nav-link {
  
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--tertiary);
}


/* styles for header/jumbotron */

.row-header {
  margin: 0px auto;
  padding-bottom: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.containerhead {
  letter-spacing: 1.5px;

  font-style: italic;
  font-weight: bold;
}

.containertext {
  text-align: right;

  font-style: italic;
  letter-spacing: 1.5px;
}

.jumbotron {
  text-align: justify;
  padding: 10px 0px 200px 0px;
  margin: 0px auto;
  background-color: #ad9cad;
  font-style: italic;

  color: floralwhite;
  text-shadow: 0.5px 0.5px 5px rgb(245, 142, 221);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 32%;
  background-image: url(https://media.discordapp.net/attachments/737753359611854887/745443180811386944/mob.png?width=1075&height=605);
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, var(--primary), var(--tertiary), var(--primary));
}


/* styles for login modal */

div.modal-header {
  background: var(--primary);

  font-style: italic;
  font-weight: bolder;
  color: white;
  border: 0px;
}

h5.modal-title {
  color: var(--tertiary);
  font-size: 20px;
  font-weight: 100;

  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.modal-body {
  background-color: #ad9cad;
  color: white;
  font-style: italic;

  max-width: 1280px;
}

div.modal-footer {
  background: var(--primary);
  border: 0px;
}

span.accept.navbar-text {
  text-align: right;
}

button.close {
  color: white;
}

button.close:hover {
  color: white;
}

button.btn.btn-primary {
  text-align: center;
  background: #89859c;
}

button.btn.btn-primary:hover {
  text-align: center;
  background: #8675a3;
}

a.steam-login-button.btn.btn-secondary {
  text-align: center;
  background: #89859c;
  border: 0px;
}

a.steam-login-button.btn.btn-secondary:hover {
  background: #ad9cad;
  color: white;
}

button.btn.btn-secondary {
  text-align: center;
  background: #89859c;
  border: 0px;
}

button.btn.btn-secondary:hover {
  background: #ad9cad;
  color: white;
}

button.btn.btn-primary {
  text-align: center;
  background: #89859c;
  border: 0px;
  font-style: italic;
}

button.btn.btn-primary:hover {
  background: #8675a3;
  color: white;
}


/* styles for table */
div.lobby-slot-card.card {
  border: 1px solid var(--tertiary);
  background-color: var(--primary);
}


div.player-card-header.card-header {
  border: 0px;
  text-align: center;
  
}

div.row {
  margin: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

h4.media-heading {
  text-align: end;
  color: var(--tertiary);
  font-size: 20px;
  font-weight: 100;

  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

h2.head {
  color: var(--tertiary);
  font-size: 25px;
  font-weight: 500;
  text-align: left;

  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.media-body {
  height: 128px;
  text-align: right;
  justify-content: end;
}

button.playerslot.btn.btn-primary {
  margin-top: 60px;
  outline: 0px;
}

button.playerslot.active.btn.btn-primary {
  margin-top: 60px;
  color: var(--primary);
  background-color: var(--secondary);
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);
  text-shadow: 0.5px 0.5px 5px rgb(227, 210, 250);
  outline: 0px;
}

button.player-ready-button.btn.btn-primary:focus {
  margin-top: 60px;
  background-color: var(--secondary);
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);
  text-shadow: 0.5px 0.5px 5px rgb(255, 243, 243);
  outline: 0px;
}

button.player-leave-button.btn.btn-primary {
  margin-top: 60px;
  outline: 0px;

}
button.player-ready-button.btn.btn-secondary.btn-block:hover {
  background: #ad9cad;
}
button.player-ready-button.btn.btn-primary:hover {
  margin-top: 60px;
  background: #ad9cad;
}

button.player-leave-button.btn.btn-primary:hover {
  margin-top: 60px;
  background: #ad9cad;
  outline: 0px;
}

div.user.row {
  height: 128px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.table thead th{
  border-bottom: 1px solid var(--tertiary);
}

th.user {
  margin: 0px auto;
  padding: 30px 0px 30px 0px;
  border-right: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
  border-bottom: 1px solid var(--tertiary);
  text-align: center;
}

button.btn.btn-secondary {
  border-color: var(--tertiary);
  font-style: italic;

}

button.btn.btn-secondary:hover {
  border-color: var(--tertiary);

}

button.btn.btn-secondary:active {
  background-color: var(--secondary);
  box-shadow: 0 0 0 0.2rem var(--secondary);
}




/* styles for main form */

label {
  color: var(--tertiary);
  font-size: 25px;
  font-weight: 100;

  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}

div.row.row-buttons {
  padding-bottom: 40px;
}
div.col.vote {
  padding: 10px 10px 0px 10px;
  text-align: left;
  vertical-align: auto;
}

div.col.shuffle {
  padding: 10px 10px 0px 10px;
  text-align: right;
  vertical-align: auto;
}

button.btn.btn-shuffle.btn-secondary {
  text-align: center;
  background: #89859c;
  margin: 3px auto;
  border: 0px;
}

button.btn.btn-shuffle.btn-secondary:hover {
  background: #545161;
  color: white;
}

a.btn.btn-launch.btn-secondary {
  text-align: center;
  background: #89859c;
  margin: 3px auto;
  border: 0px;
}

h4.media-heading {
  height:24px;
}

a.btn.btn-launch.btn-secondary:hover {
  background: #545161;
  color: white;
}

div.col-6.player-card-slot {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0.5px solid var(--tertiary);
}

div.col-6.player-card-slot.playerslot.active {
  
  box-shadow: inset 0.5px 0.5px 20px 5px rgb(255, 255, 255);
  text-shadow: 0.5px 0.5px 5px rgb(255, 243, 243);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0.5px solid var(--tertiary);
}

div.row.lobby-players {
  padding: 0px;
}
/* styles for mapvote modal */
h5.modal-title {
  padding-left: 15px;
}

.error-alert {
  color: var(--tertiary);
  font-weight: 100;

  font-style: italic;
}

button.button-cancel-vote.btn.btn-secondary:hover {
  background-color: var(--secondary);
  color: #545161;
}

button.button-cancel-vote.btn.btn-secondary {
  background-color: #89859c;
  border-color: var(--secondary);
  color: #ffffff;

}

.modal-vote-text {
  color: var(--tertiary);
  font-weight: 100;

  font-style: italic;
}

.modal-body {
  flex: 0 0;
}

.modal-content {
  flex: 0 0;
}

button.btn.btn-primary:hover {
  background: #545161;
  color: white;
} 
button.button-map-modal.btn.btn-secondary:hover {
  background: #545161;
  color: white;
}
button.button-vote.btn.btn-secondary:hover {
  background: #ad9cad;
}
button.btn.btn-primary:active {
  background: var(--primary);
}

/* styles for mapvote cards */

div.row.row-vote-cards {
  padding: 0px;
}

p.modal-vote-text {
  padding-left: 5px;
}

div.modal-vote-head.modal-header {
  padding-left: 20px;
}

div.card {
  background: var(--primary);
  border-top: 0px;
  margin: 2px;
}

div.col-sm-6.col-lg-4.col-xl-3.map-vote {
  padding: 0px;
}
div.card-body {
  align-items: normal;
  padding-bottom: 10px;
  padding-top: 0px;
}

img.card-img-top {
  height: max-content;
}

div.card-header {
  color: var(--tertiary);
  padding: 10px;
  font-size: 18px;
  font-weight: 100;

  font-style: italic;
  text-shadow: 0.5px 0.5px 3px lightgrey;
}




.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: var(--secondary);
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
  outline: var(--secondary);
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);
  text-shadow: 0.5px 0.5px 5px rgb(223, 182, 212);
}

.btn-secondary:not(:disabled):not(.disabled).active:focus {
  background-color: var(--secondary);
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--primary);
  outline: var(--secondary);
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);
  text-shadow: 0.5px 0.5px 5px rgb(223, 182, 212);
}





.light-alert {
  background-color: var(--primary);
  border: 1px solid #89859c;
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);

  font-style: italic;
  color: white;
}

.error-alert {
  background-color: var(--primary);
  border: 1px solid #89859c;
  box-shadow: 0.5px 0.5px 5px rgb(243, 210, 235);

  font-style: italic;
  color: white;
}

/* styles for footer */

.footer {
  background-color: var(--primary);
  color: var(--tertiary);

  font-weight: normal;
  margin-top: 0px;
  padding: 20px 0px 20px 0px;
  text-shadow: 0.5px 0.5px 2px lightgrey;
}

a.footerh5 {
  color: white;
  letter-spacing: 1.5px;

  font-style: italic;
  font-weight: lighter;
}

a.btn.btn-social-icon.btn-twitter {
  background: #89859c;
}

a.btn.btn-social-icon.btn-google {
  background: #89859c;
}
